* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

/* header style */
.page .header {
  text-align: center;
}
/* 로고아래 글 */
.page .header .logo,
.page .header p,
.page .header button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.page .header > p {
  font-weight: bold;
  color: #8e8e8e;
  font-size: 18px;
  margin-top: 17px;
}

.page .header > button {
  width: inherit;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
}

.page .header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8e8e8e;
}

.page .header div p {
  padding: 0 20px;
}

.page .header div hr {
  width: 200px;
}

/* container style*/
.page .container {
  display: grid;
  flex-direction: column;
}

.page .container form,
input {
  width: 100%;
}

.page .container form input {
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding: 5px 5px;
  margin: 3px 0;
  font-size: 15px;
}

.page .container form input:last-of-type {
  margin-bottom: 10px;
}

.page .container form button {
  width: inherit;
  margin-bottom: 5px;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
}
/* text와 가입버튼 간격*/
.page .container ul {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
  
}

.page .container ul li {
  display: block;
  color: #000000;
  font: cent;
  width: 300px;
  padding-right: 15px;
  position: absolute;

}

.page .container ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #8e9096;
}

/* option style */
.option p > a {
  text-decoration: none;
  color: #00a0f7;
}

/* otherapps style */
.otherapps {
  text-align: center;
}

.otherapps p {
  margin-bottom: 15px;
}

.otherapps > button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
}

/* footer style 앱스토어 와 아래 비상간격 */
.footer {
  bottom: 0;
  height: 2.5rem;
  margin-top: 50px;
}

.footer ul {
  text-align: center;
  

}
.footer ul li {
  display: inline;
  margin-right: 5px;
}
.footer ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #00376b;
}

.footer p {
  margin: px 0;
  text-align: center;
  color: #8e9096;
  font-size: 14px;
}

/* Mobile Styles */

@media only screen and (max-width: 400px) {
  body {
    font-family: Freight Sans;
  }

  .page {
    width: 250px;
    background-color: #fafafa;
  }

  .page .header {
    width: inherit;
    margin-top: 10px;
  }

  .page .container {
    width: inherit;
  }

  .option {
    margin: 80px 0;
  }

  .page .container input {
    padding: 10px 5px;
    margin: 5px 0;
  }

  .page .footer {
    width: inherith;
  }
}

@media only screen and (min-width: 401px) {
  body {
    font-family: Neue Helvetica;
  }
  .page {
    border: 1px solid #dbdbdb;
    width: 350px;
    background-color: white;
    margin: 40px 40px 10px 40px;
  }

  .page .header {
    width: 270px;
    margin-top: 15px;
  }

  .page .container {
    width: 270px;
  }

  .option {
    border: 1px solid #dbdbdb;
    background-color: white;
    width: 350px;
    height: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .otherapps {
    margin: 20px 0;
  }

  .otherapps button {
    margin-right: 5px;
  }

  .otherapps button:after-of-type {
    margin-right: none;
  }

  .page .footer {
    width: 50%;
  }

  .text{
    font-size: 12px;
    line-height: 100%;
    width: 150px;
  }
}
