<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Icon -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">

    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">

    <!--css 파일 불러오기!-->
    <!-- <link href="static/css/common.css" rel="stylesheet" type="text/css"/> -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <!--js 파일 불러오기-->
    <!-- <script defer="defer" src="/static/js/common.js"></script> -->
    <script defer="defer" src="{% static 'js/common.js' %}"></script>

    <!--파비콘 적용-->
    <link rel="shortcut icon" href="/static/images/favicon_instagram.ico">

    <title>Instgram clone</title>
    {% block extra-style %}{% endblock %}

    <link href="/static/css/join_style.css" rel="stylesheet"/>

    <style>
      .title-center {
        text-align: center;
        margin-top: 50px;
      }

      .wrap {
        width: 400px;
        margin: 0 auto;
      }

      .form-area {
        margin-top: 25px;
      }

      .timeline-container {
        margin-top: 25px;
      }

      .post_header_more {
        margin-left: -17px;
      }
    </style>
  </head>

  <body>
    <!--헤더 부분-->
    <div class="main_header" id="main_header">
      <div class="header_body">
        <div class="logo_box">
          <a href="/" style="float:left;">
            <img style="margin-top: 10px" src="/static/images/logo_instagram.png">
          </a>
        </div>
        <div class="search_box">
          <button class="search_active_button" id="search_active_button" onclick="active_search_input_box()"></button>
          <img class="search_icon" id="search_icon" src="/static/images/icon_search.png">
          <input id="search_input_box" aria-label="입력 검색" class="search_input_box" autocapitalize="none" placeholder="검색" type="text" value="">
        </div>
        <div class="header_icon_box">
          <a href="/"><img width="20px" height="20px" src="/static/images/icon_home.png"></a>
          <a href="#"><img width="20px" height="20px" src="/static/images/icon_share.png"></a>
          <a href="#"><img width="20px" height="20px" src="/static/images/icon_add.png" id="add_feed"></a>
          <a href="#"><img width="20px" height="20px" src="/static/images/icon_find.png"></a>
          <a href="#"><img width="20px" height="20px" src="/static/images/icon_heart_empty.png"></a>
          <div class="post_header_more">
            <div class="post_header_more_btn_box">
              <div class="btn-group">
                <img type='button' class="img_circle dropdown-toggle" width="24px" height="24px" src="{{user.profile_image.url}}" data-bs-toggle="dropdown" aria-expanded="false">
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'profile' user.nickname %}">프로필</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'logout'%}">로그아웃</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% include 'post/post.html' %}
    {% block content %}{% endblock %}
    {% block extra-script %}{% endblock %}
  </body>

</html>
