<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<style>
  .modal {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(1.5px);
      -webkit-backdrop-filter: blur(1.5px);
      z-index: 99999;
  }

  .modal_window {
      background: white;
      backdrop-filter: blur(13.5px);
      -webkit-backdrop-filter: blur(13.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      width: 800px;
      height: 600px;
      position: relative;
  }

  .modal_title{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: bold;
      font-size: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  }

  .modal_title_side{
      margin: 5px;
      flex: 0 0 40px;
      text-align: center;
  }

  .modal_image_upload{
      outline: 2px dashed black ;
      outline-offset:-10px;
      transition: all .15s ease-in-out;
      width: 798px;
      height: 548px;
      text-align: center;
      line-height: 548px;
  }

  .modal_image_upload_content{
      outline: 2px dashed black ;
      outline-offset:-10px;
      text-align: center;
      transition: all .15s ease-in-out;
      width:500px;
      height: 548px;
  }

  .modal_image_content{
      display: flex;
      flex-direction: row;
  }

  .modal_content_write{
      display: flex;
      flex-direction: column;
      border-left: 1px solid rgba(0, 0, 0, 0.18);;
  }

  .feed_content_textarea{
      resize: none;
      width: 294px;
      border: none;
  }
  .modal_overlay > button {
    position: fixed;
    top: 1em;
    right: 1em;
  }
  .modal_overlay_content > button {
    position: fixed;
    top: 1em;
    right: 1em;
  }
</style>


<div id="modal_add_feed" class="modal modal_overlay">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close_modal">X</button>
  <div class="modal_window">
    <div class="modal_title">
      <div class="modal_title_side"></div>
      <div>
        새 게시물
      </div>
      <div class="modal_title_side">
        <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
          close
        </span>
      </div>
    </div>
    <div class="modal_image_upload">
      <span style="text-align: center">
        사진을 여기에 끌어다 놓으세요.
      </span>

    </div>
  </div>
</div>

<div id="modal_add_feed_content" class="modal modal_overlay_content">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close_2_modal">X</button>
  <div class="modal_window">
    <div class="modal_title">
      <div class="modal_title_side"></div>
      <div style="margin: 5px">
        새 게시물
      </div>
      <div class="modal_title_side">
        <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 30px">
          close
        </span>
      </div>
    </div>
    <div class="modal_image_content">
      <div id="input_image" class="modal_image_upload_content"></div>
      <div class="modal_content_write">
        <div class="feed_name">
          <img class="img_circle" width="30px" height="30px" src="{{user.profile_image.url}}">
            {{user.username}}
        </div>
        <div style="height: 440px">
          <textarea id="input_content" class="feed_content_textarea form-control col-sm-5" rows="10" placeholder="설명을 입력하세요..."></textarea>
        </div>
        <div style="width: 100%; text-align: center">
          <button id="button_write_feed" type="button" class="btn btn-primary" style="width: 268px">
            공유하기</button>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
  $.ajaxSetup({
      headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
  // 모달 띄우기 코드
  const modal = document.getElementById("modal_add_feed");
  const buttonAddFeed = document.getElementById("add_feed");
  buttonAddFeed.addEventListener("click", e => {
    modal.style.top = window.pageYOffset + 'px'; // top을 이용해 시작 y위치를 바꿔줌
    modal.style.display = "flex";
    document.body.style.overflowY = "hidden"; // 스크롤 없애기
  });


  $('#close_modal').click( () => {
    $('#modal_add_feed').css({display : 'none'})
    $('#modal_add_feed_content').css({display : 'none'})
    $(document.body).css({overflowY: 'visible'});
  });

  $('#close_2_modal').click( () => {
    $('#modal_add_feed').css({display : 'none'})
    $('#modal_add_feed_content').css({display : 'none'})
    $(document.body).css({overflowY: 'visible'});
  });
  

  $('.close_modal').on("click", () => {
    closeModal();
  });

  function closeModal() {
    $('.modal').css({display: 'none'});
    $(document.body).css({overflowY: 'visible'});
  };

  $('.modal_image_upload')
  .on("dragover", dragOver)
  .on("dragleave", dragOver)
  .on("drop", uploadFiles);

  function dragOver(e) {
    console.log(e);
    e.stopPropagation();
    e.preventDefault();

    if (e.type == "dragover") {
      $(e.target).css({"background-color": "#F8E0E6", "outline-offset": "-20px"});
    } else {
      $(e.target).css({"background-color": "white", "outline-offset": "-10px"});
    }
  }

  let files;

  function uploadFiles(e) {
    console.log(e);
    e.stopPropagation();
    e.preventDefault();

    e.dataTransfer = e.originalEvent.dataTransfer;
    files = e.dataTransfer.files;

    if (files.length > 1) {
      alert('하나만 올려라.');
      return;
    }

    if (files[0].type.match(/image.*/)) {
      $('#modal_add_feed_content').css({display: 'flex'});
      $('.modal_image_upload_content').css({
        "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
        "outline": "none",
        "background-size": "contain",
        "background-repeat": "no-repeat",
        "background-position": "center"
      });
      $('#modal_add_feed').css({display: 'none'})
    } else {
      alert('이미지가 아닙니다.');
      return;
    }
  };

  $('#button_write_feed').on('click', () => {
    const image = $('#input_image')
      .css("background-image")
      .replace(/^url\(['"](.+)['"]\)/, '$1');
    const content = $('#input_content').val();
    // const profile_image = $('#input_profile_image').attr('src');
    // const user_id = $('#input_user_id').text();

    const file = files;

    let fd = new FormData();

    fd.append('file', file[0]);
    fd.append('image', image);
    fd.append('content', content);
    // fd.append('profile_image', profile_image);
    // fd.append('user_id', user_id);

    if (image.length <= 0) {
      alert("이미지가 비어있습니다.");
    } else if (content.length <= 0) {
      alert("설명을 입력하세요");
    } else {
      writeFeed(fd);
      console.log(files[0]);
    }
  });


  function writeFeed(fd) {
    $.ajax({
      url: "/post/",
      data: fd,
      method: "POST",
      processData: false,
      contentType: false,
      success: function (data) {
        console.log("성공");
      },
      error: function (request, status, error) {
        console.log("에러");
      },
      complete: function () {
        console.log("무조건실행");
        closeModal();
        location.reload();
      }
    })
  };
</script>




{% comment %} 

{% endcomment %}