{% extends 'base.html' %}

{% block content %}

  <style>
    .box_profile {
      border-radius: 70%;
      overflow: hidden;
    }

    .profiles {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>

  <div style="display: flex; flex-direction: row;text-align: center; justify-content: center;padding-top: 90px; background-color:#FAFAFA">
    <div style="padding: 0px 60px; padding-bottom: 30px;">
      <div class="box_profile" style="width: 175px; height: 175px;">

        <img class="profiles" src="{{user.profile_image.url}}">
      </div>
    </div>
    <div style="text-align: left">
      <div style="display: flex; flex-direction: row; margin: 20px 0">
        <div style="font-size: 26px; margin-right: 40px">
          {{user.nickname}}
        </div>
        <button id="button_profile_upload" style="margin-right: 40px">
          프로필 사진 편집</button>
        <input type="file" id="input_fileupload" onchange="profile_upload();" style="display: none"/>
        <span class="material-icons-outlined" style="margin-right: 40px">settings</span>
      </div>

      <div style="margin-bottom: 20px">
        게시물 내 게시물건수 팔로워 999 팔로잉 1
      </div>
      <div>
        <b>B-3반 프로필 내용작성!</b>
      </div>
    </div>
  </div>

  <div style="padding-top: 10px; border-top: solid 2px rgba(50,50,50,0.1); width: 100%">

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 20px">
      <div id="button_feed_list" style="cursor: pointer;margin: 0 30px;display: flex; flex-direction: row;align-items: center">
        <span class="material-icons-outlined">grid_on</span>내 게시물</div>
      <div id="button_feed_like_list" style="cursor: pointer;margin: 0 30px;display: flex; flex-direction: row;align-items: center">
        <span class="material-icons-outlined">favorite_border</span>좋아요</div>
      <div id="button_feed_bookmark_list" style="cursor: pointer;margin: 0 30px;display: flex; flex-direction: row;align-items: center">
        <span class="material-icons-outlined">bookmark_border</span>북마크</div>
    </div>
  </div>

{% endblock %}
