{% extends 'base.html' %}

{% block content %}
  <main>
    <div class="page">
      <div class="header">
        <h1 class="logo">instagram</h1>
        <p>친구들의 사진과 동영상을 보려면 가입하세요.</p>
        <div>
          <hr>
          <p>--------------</p>
          <hr>
        </div>
      </div>
      <div class="container">
        <form class="form_area" action="">
          <input type="text" placeholder="이메일 주소">
          <input type="text" placeholder="성명">
          <input type="text" placeholder="사용자 이름">
          <input type="password" placeholder="비밀번호">
          <button>Sign up</button>
        </form>

        <ul>
          <li>By signing up, you agree to our</li>
          <li>
            <a href="">Terms</a>
          </li>
          <li>
            <a href="">Data Policy</a>
          </li>
          <li>and</li>
          <li>
            <a href="">Cookies Policy</a>
            .</li>
        </ul>
      </div>
    </div>
    <div class="option">
      <p>계정이 있으신가요?
        <a href="">로그인</a>
      </p>
    </div>
    <div class="otherapps">
      <p>Get the app.</p>
      <button type="button">
        <i class="fab fa-apple"></i>
        App Store</button>
      <button type="button">
        <i class="fab fa-google-play"></i>
        Google Play</button>
    </div>
    <div class="footer">
      <ul>
        <li>
          <a href="">ABOUT</a>
        </li>
        <li>
          <a href="">HELP</a>
        </li>
        <li>
          <a href="">PRESS</a>
        </li>
        <li>
          <a href="">API</a>
        </li>
        <li>
          <a href="">JOBS</a>
        </li>
        <li>
          <a href="">PRIVACY</a>
        </li>
        <li>
          <a href="">TEMS</a>
        </li>
        <li>
          <a href="">LOCATIONS</a>
        </li>
        <li>
          <a href="">TOP ACCOUNTS</a>
        </li>
        <li>
          <a href="">HASHTAGS</a>
        </li>
        <li>
          <a href="">LANGUAGE</a>
        </li>
      </ul>
      <p>© 2022 VISANG</p>
    </div>
  </main>
{% endblock %}