{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <h4 class="border-bottom pb-2 my-3">비밀번호 초기화</h4>

    {% if validlink %}
    <form method="post" class="post-form"> <!-- password_reset_confirm으로 action할 필요 없음 -->
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="new_password1">새로운 비밀번호</label>
            <input type="password" class="form-control" name="new_password1" id="new_password1">
        </div>
        <div class="form-group">
            <label for="new_password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2">
        </div>
        <button type="submit" class="btn btn-primary">변경하기</button>
    </form>
    {% else %}
    <p>링크가 유효하지 않습니다.</p>
    {% endif %}
</div>
{% endblock %}