{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <h4 class="border-bottom pb-2 my-3">비밀번호 찾기</h4>

    <form method="post" class="post-form" action="{% url 'password_reset' %}">
    <!-- action 속성은 생략 가능 -->
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="email">등록한 이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">이메일 전송</button>
    </form>
</div>
{% endblock %}