
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    


<link href="/static/css/join_style.css" rel="stylesheet"/>

<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Welcome to the Password Reset Page</h1>
    <h3>
      Forgot your password? Please enter the email address you used to register
      with us and we will send you a link to reset your password
    </h3>
  </div>
<form action="" method="POST" class="text-center">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Send email" /><br>
  </form>
  <div class="text-center">
    <a href="{% url 'home' %}">Return to home page</a>
  </div>


</body>
</html>

{% endblock %}